<div class="heading secondary-heading"> <%= @tree.common_name %> </div>

<div class="wrapper">
    <img class="show-image" src=<%= @tree.image %>>
    <p>Scientific name: <%= @tree.binomial_name %></p>
    <p>Category: <%= @tree.category %></p>
</div>