<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>

    <h1>Detail page for <%= @book.title %></h1>
    <h2>by <%= @book.author %></h2>

    <div><%= @book.snippet %></div>

    <a href="/books">Back To Index Page</a>
</body>
</html>