<!DOCTYPE html>
<html>
<head>
    <title>Book Index Page</title>
</head>
<body>

    <h1>All the books</h1>

    <ul>
    <% @books.each do |book| %>
        <li><a href="/books/<%= book.id %>"><%= book.title %></a> 
            <span style="color: #ff9900"> by </span> <%= book.author.name %>
        </li>
    <% end %>
    </ul>


    <a href="/books/new">Create a new book</a>
</body>
</html>